.page-header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}

.site-logo::first-letter {
  color: var(--blue);
}

.site-nav {
  display: flex;
  list-style: none;
}

.site-nav li.current > a {
  color: var(--blue);
}

.site-nav li:not(:last-child) {
  margin-right: 24px;
}

.site-nav a {
  display: inline-block;
  padding: 24px 0;
  text-decoration: none;
  font-weight: 500;
  color: #212121;
  text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--blue);
}
